<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232905914623-q3sp9u5069ob4t1b931ffftl301rn1m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232905914623-q3sp9u5069ob4t1b931ffftl301rn1m3</string>
	<key>API_KEY</key>
	<string>AIzaSyAItfg0Un32vXoDWVOFR7ECYs5CIMNPphc</string>
	<key>GCM_SENDER_ID</key>
	<string>232905914623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chatting</string>
	<key>PROJECT_ID</key>
	<string>chatting-4efd4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-4efd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232905914623:ios:749e34cece0e0072ddb4ca</string>
</dict>
</plist>